
<!-- This is the header -->

<section class="timeline">
  <div class="container">

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInLeft">
        <h2 class="text-center mb-0">Start of Trip</h2>
      </div>
    </div>

<!-- This is to iterate the posts in the trip -->

    <% @trip.posts.each do |post| %>
      <div class="timeline-item">
        <!-- This is the circle on the line -->
        <div class="timeline-img"></div>

        <div class="timeline-content timeline-card js--fadeInRight">
          <!-- This is the picture class -->
          <div class="timeline-img-header">
          </div>

          <!-- This is the date box format -->
          <div class="date"><%= post.date.strftime("%d of %b") %></div>

        </div>
      </div>
    <% end %>

    <div class="fixed-bottom">

      <div id="flip" class="text-center">Click to see trip details</div>

      <div id="panel">
       <div class="d-inline-flex">
        <!-- This is the left items -->
        <div class="d-flex flex-column info-card">
          <!-- This is the trip name -->
          <div class="info-header">
            <%= @trip.name %>
          </div>
          <!-- This is the cities tags -->
          <div>
            <div class="badge badge-pill badge-light">Singapore</div>
          </div>
        </div>
        <!-- This is the end button -->
        <div class="info-button">
          end trip
        </div>
       </div>

      </div>
    </div>

  </div>
</section>
