
// Lewagon kitt color.
$red: #FD1015;
$blue: #167FFB;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Colors that we need to use :

$white : white;
$main-color: #06908F; // main color of our app.
$yellow: #F8C537; // Yellow from color hunt
$light-color: #D6FFF6; //Not white bue almost
$orange : #FBBA72; // darker orange.

$blue-color: #0CA4A5;
