.headers {
  font-size: 15px;
}

.card {
  margin: 1.25px;
  border-radius: 13px;
}

.dashboard-item {
  // display:flex;
  // justify-content: center;
  // align-items: center;
  font-size: 140px;
  // font-size: 40px;
}
