.headers {
  font-size: 15px; // h1 headings
}

.card {
  margin: 1.25px; // put spacing between the cards
  border-radius: 13px; // smoothen out corners of the cards
}

.dashboard-item {
  font-size: 140px; // huge numberings on top 2 items of dashboard
}
