// This page is for review trip only


// All text modifications
.title-review{
  font-family: 'Pacifico', cursive;
  font-size: 38px;
  margin: 0 auto;
  text-align: center;
  color: $main-color;
  margin: 0 auto;
}
.title-review h4{
  margin: 0 auto;
  width: 60%;
  font-family: $headers-font;
  font-size:16px;
  color: $second-color;
  font-weight: lighter;
  border-bottom: 1px solid $orange;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.title-review p{
  width:80%;
  font-size : 22px;
  font-family: $body-font;
  margin: 0 auto;
  margin-bottom:10px;
}
.middle-card-description-review{
  font-size:16px;
  font-family:$body-font;
  text-align: top;
  line-height: 1.1;
  text-align: justify;
}
.middle-card-name-review{
  font-style: italic;
  font-weight: 800;
  font-size:12px;
  margin-bottom: 5px;
  text-align:center;
}

// All images modifications
.very-small-image-review img{
  width:100%;
  height: 50px;
  background-image: center;
  object-fit: cover;
  border: 2px solid $second-color;
}
.img-small-review1{
  width:100%;
  height:200px;
  background-image: center;
  object-fit: cover;
  padding:18px;
  border-top: 5px solid $orange;
  border-left: 5px solid $orange;
  border-radius:3px;
}
.img-small-review2{
  width:100%;
  height:200px;
  background-image: center;
  object-fit: cover;
  border-radius:3px;
  padding:4px;
  border-top: 3px solid $second-color;
  border-right: 3px solid $second-color;
}
.img-small-review3{
  width:100%;
  height:200px;
  background-image: center;
  object-fit: cover;
  border-radius:3px;
  padding:4px;
  border-bottom: 3px solid $second-color;
  border-left: 3px solid $second-color;
}
.img-small-review4{
  width:100%;
  height:200px;
  background-image: center;
  object-fit: cover;
  border-radius:3px;
  padding:18px;
  border-right: 5px solid $orange;
  border-bottom: 5px solid $orange;
}

.img-medium-review{
  width:100%;
  height:200px;
  background-image: center;
  object-fit: cover;
  border: 2px solid $second-color;
  padding: 5px;
}
.img-background-review{
  border-radius: 1px;
  width:100%;
  height: 400px;
  background-position:center;
  background-size: cover;
  object-fit: cover;
  border: 5px solid $second-color;
}
.img-end-review{
  width:100%;
  height:100px;
  object-fit: cover;
  background-position:center;
}

// Card review
.card-review{
  width:48%;
  height:200px;
}
.end-card-review{
  margin-top: 30px;
}
.description-middle-card-review{
  margin-bottom: 20px;
}

// Container for this page
// HS here added margin-top because of sticky navbar which covers the header
.container-review{
  margin: 30px;
  margin-top: 70px;
  // background-color: white;
}
.small-card-block-review{
  justify-content:space-between;
}

.mapbox-box{
  margin-top: 20px;
  margin-bottom: 20px;
}
.carousel-review{
  margin-top: 20px;
}
.comment-logic{
  text-align: center;
}


.carousel-indicators{
  color: $main-color;
}

// comment part

.btn-review-comment{
     height: 30px;
    width: 130px;
    border-radius: 20px;
    border-color: #06908F;
    font-family: "Open Sans", "sans-serif";
    font-size: 14px;
    font-color: #06908F;
    color: #06908F;
}

.btn-review{
  text-align:center;
}
.btn-review a{
  padding: 10px;
  margin: 0 auto;
  color:white;
  background-color: $main-color;
  margin:10px;
  font-family: $headers-font;
  border-radius: 10px;
}
.comment-date{
font-size:12px;
}
.comment-description{
  margin:2px;
  border-top: 1px solid $main-color;
  font-style: italic;
  font-size: 15px;
  margin-bottom: 12px;
}

.comment-name{
  color:#5c5350;
}
.comment-btn{
  margin:0 auto;
  width:200px;
  text-align:center;
  border-bottom: 1px solid $orange;
}

.info-comment{
align-items: flex-end;
}


.comment-title{
  margin-top:20px;
  width:60% ;
  border-top: 1px solid $orange;
}














