.avatar {
  width: 40px;
  border-radius: 50%;
}


.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  border: $light-color 2px solid;
}

.avatar-friend {
  width: 50px;
  border-radius: 50%;
  // border: $light-color 2px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  border: $light-color 1px solid;
}

// .avatar-bordered:hover{
//   border-color:$yellow;
// }

// @media(max-width: 768px) {
//   .avatar-large { // this is the avatar in the profile page info
//     flex: 1 1;
//     width: 29%;
//     border-radius: 50%;
//     position: absolute; // allows picture to move around
//     bottom: 320px; // moves picture to be in the middle of cover picture
//     left: 99px;
//     border: solid;
//     border-color: $main-color;
//   }
// }
