.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large { // this is the avatar in the profile page info
  width: 150px;
  border-radius: 50%;
  position: relative; // allows picture to move around
  bottom: 76px; // moves picture to be in the middle of cover picture
  left: 88px;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  border: $light-color 2px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  border: $light-color 1px solid;
}

.avatar-bordered:hover{
  border-color:$yellow;
}
