
.button-small{
  // Adding Style to the Bootstrap btn
  height: 30px ;
  width: 70px;
  border-radius: 20px;
  border-color: $main-color;
  font-family: $body-font ;
  font-size: 14px;
  font-color: $main-color;
  color: $main-color;
  display:table-cell;
  // Yellow Transition
  background-image: linear-gradient($yellow, $yellow);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .2s ease-out;
}

.button-large{
  // Adding Style to the Bootstrap btn
  height: 30px ;
  width: 130px;
  border-radius: 20px;
  border-color: $main-color;
  font-family: $body-font ;
  font-size: 14px;
  font-color: $main-color;
  color: $main-color;
  display:table-cell;
  // Yellow Transition
  background-image: linear-gradient($yellow, $yellow);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .2s ease-out;

}

// hoover
.button-large:hover {
  background-size: 100% 5px, auto;
  color: $main-color;
}

.button-small:hover {
  background-size: 100% 5px, auto;
  color: $main-color;
}
