// for header text
.header-phrase {
  position: absolute;
  text-align: center;
  top: 35%;
  text-shadow: 0px 0px 4px rgba(0,0,0,0.3);
}

.header-phrase h1 {
  color: #FFFFFF;
  font-size: 40px;
  padding: 0px 24px;
}

// for logo
.logo-position {
  position: absolute;
  top: 5%;
}


// for button
.position-bottom {
  position: absolute;
  top: 75%;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: $gray;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: $gray;
}

.full-screen-image {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

// Start of modal css

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  padding: 16px;
}

.modal-content a {
  color: $gray;
  padding-left: 15px;
  margin-bottom: 0px;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
