// timeline post name
.home-heading-timeline{
  border-bottom: 1px solid #FBBA72;
  width: 50%;
  margin: 0 auto;
  font-size: 22px;
  margin-right:44px;
  font-family: "Roboto", "sans-serif ";
  margin-bottom:14px;
}
.post-name {
  position: relative;
  left: 114px;
  top: -16px;
  font-size: 16px;
  width: 50%;
  text-align: center;
  font-style: italic;
  color: $gray;
}

.info-button {
  width: 60px;
  border-radius: 50px;
}

.upload {
  // background-image: url('https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-color: $gray;
}

.last-timeline-img-header {
  height: 170px;
  width: 261px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  background: url('https://semantic-ui.com/images/wireframe/image.png') center center no-repeat;
  background-size: cover;
  object-fit: cover;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);

}

.new-post-text {
  position: relative;
  left: 114px;
  top: -16px;
  font-size: 20px;
  width: 161px;
  text-align: center;
  font-style: italic;

}


/* This is the CSS for the timeline. Please do not touch */
$dark-primary: #303F9F;
$light-primary: #C5CAE9;
$text: #FFFFFF;
$primary-text: #212121;
$secondary-text: #757575;

section {
  padding: 25px 0 100px 0;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 400;
  background-color: white;
}

h1 {
  font-size: 200%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

header {
  background: $main-color;
  color: $text;
  padding: 150px 0;

  p {
    font-family: 'Allura';
    color: rgba(255, 255, 255, .2);
    margin-bottom: 0;
    font-size: 60px;
    margin-top: -30px;

  }
}

.timeline {

  position: relative;

  &::before {
    content: '';
    background: $main-color;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.timeline-item {
  width: 100%;
  margin-bottom: 10px;

  &:nth-child(even) {

    .timeline-content {
      float: right;
      padding: 40px 30px 10px 30px;

      .timeline-date {
        width: 100px;
        right: auto;
        left: 161px;
        border-top-right-radius: 10px;
      }

      &::after {
        content: '';
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        // border-width: 10px 15px 10px 0;
        border-color: transparent #f5f5f5 transparent transparent;
      }
    }
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}


.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 10px;
  // background: #f5f5f5;


  &::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #f5f5f5;

  }
}

.timeline-img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  background-color: $yellow;
  border: solid;
  border-width: 5px;
  border-color: $second-color;

  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

a {
  // background: $second-color;
  color: $text;
  // padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  // margin-bottom: 20px;
  // margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  // box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .6);

  &:hover, &:active, &:focus {
    // background: darken($main-color, 10%);
    color: $text;
    text-decoration: none;
  }

}

.timeline-card {
  padding: 0!important;

  p {
    padding: 0 20px;
  }

  a {
    // margin-left: 20px;
  }
}

.timeline-item {
  .timeline-img-header {
      background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4));
      background-size: cover;
      object-fit: cover;
      box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);
    }
}

.timeline-img-header {

  height: 170px;
  width: 261px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;

  h2 {
    color: $text;
    position: absolute;
    bottom: 5px;
    left: 20px;
  }
}

blockquote {
  margin-top: 30px;
  color: $secondary-text;
  border-left-color: $primary;
  padding: 0 20px;
}

.timeline-date {
  background: $main-color;
  display: inline-block;
  color: $text;
  padding: 10px;
  position: absolute;

  top: 0;
  left: 161px;
  width: 100px;
  border-top-right-radius: 10px;
}

@media screen and (max-width: 768px) {

  .timeline {

    &::before {
      left: 50px;
      top: 81px;
    }

    .timeline-img {
      left: 50px;
    }

    .timeline-content {
      max-width: 100%;
      width: auto;
      margin-left: 70px;
    }

    .timeline-item {

      &:nth-child(even) {

        .timeline-content {
          float: none;

        }
      }

      &:nth-child(odd) {

        .timeline-content {

          &::after {
            content: '';
            position: absolute;
            border-style: solid;
            width: 0;
            height: 0;
            top: 30px;
            left: -15px;
            // border-width: 10px 15px 10px 0;
            border-color: transparent #f5f5f5 transparent transparent;
          }
        }

      }
    }
  }

}
/* This is the CSS for the timeline. Please do not touch  */
