// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friend-column {
  font-weight: bold;
  padding: 10px;
}

.friend-list-header {

}

.no-right-margin {
  margin-right: 0px !important;
}
