// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friend-row :hover {
  cursor: pointer;
  background-color: #F5F5F5;
  z-index: 1;
}

.friend-row {
  border-radius: 10px;
  display: flex;
  margin-top: 4%;
  padding: 2%;
  margin-right: 3%;
}

.friend-list-header {
  font-weight: bold;
  font-size: 20px;
}

.friend-list {
  display: flex-column;
  width: 20%;
  position: sticky;
  margin-top: 0.75%;
}

.friends {
  overflow-y: auto;
  height: 70vh;
}

.trips-container {
  display: flex;
}

.all-trips {
  overflow-y: auto;
  width: 100%;
  display: flex-column;
}

.trip {
  width: 80%;
  margin-top: 2%;
  margin-left: 9%;
  margin-right: 9%;
}

.friend-name {
  font-size: 20px;
  padding: 10px;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}
