// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friend-row {
  font-weight: light;
  padding: 0px 10px 0px 0px;
  font-size: 14px;
  margin-left: 1%;
  display: flex;
  margin-top: 1%;
}

.friend-list-header {
  font-weight: bold;
  font-size: 20px;
}

.friend-list {
  display: flex-column;
  width: 35%;
  position: sticky;
  padding: 0px 10px;
  margin-left: 1%;
  margin-top: 1%;
}

.friends {
  overflow-y: auto;
  height: 70vh;
}

.trips-container {
  display: flex;
}

.all-trips {
  overflow-y: auto;
  width: 100%;
  display: flex-column;
}

.trip {
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}
